html {
  line-height: 1.5;
}
@layer utilities {
  .border-gradient {
      border-image-source: repeating-linear-gradient(
          to right,
          theme('colors.orange'),
          theme('colors.pink'));
      border-image-slice: 10; /* Value 25 also seems nice? */
  }
}